@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var( --font-text);
}

.container {
  width: rem(1200);
  margin: 0 auto;
}

/*--- HEADER START
-------------------------------------------------- */
.header {
  background-color: var(--white);

  &logo {
    padding-left: rem(10);
  }
}

/*--- HEADER END
-------------------------------------------------- */